extends ../layout/main

block content
  div.img-wrap.img-wrap--home
    img(src=`${baseUrl}/images/absinthe-home.jpg`)
    div.cover-text
      h2 #[strong Why #[br] Digital]ddh?
      
      ul
        li Passion &amp; Creativity
        li Thoughtful Digital Strategy
        li Professionalism and Results      

  a.box-link(href=`${baseUrl}/clients.html`)
    span.flex-filler
    span.box-link-text See clients and projects?
    span.flex-filler
      img(src=`${baseUrl}/images/Right Chevron.png`)
  a.box-link(href=`${baseUrl}/skills.html`)
    span.flex-filler
    span.box-link-text See skills and experience?
    span.flex-filler
      img(src=`${baseUrl}/images/Right Chevron.png`)
